<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
</head>
<body>

<div id="app">
    <h3>{{user.name}}={{user.age}}={{user.pwd}}</h3>
    <hr>
    <span v-for="(city,index) in arr">
        {{city}}=={{index+1}}<br>
    </span>
    <ul v-for="(value,index) in users" :key="index">
        <li>{{value.name}}{{index+1}}</li>
    </ul>
</div>
<script src="../js/vue.js"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            user:{name:'jxj',age:21,pwd:'123456'},
            arr:["北京","山西","运城"],
            users: [{name: "小黑", age: 13, pwd: "123456"},
                {name: "小张", age: 23, pwd: "123456"},
                {name: "小波", age: 63, pwd: "123456"}]
        },

    })
</script>
</body>
</html>